.App.dark {
  background: linear-gradient(0.3turn,#000, #0d1117, #0A3069);
  color: #fff;
  height:100vh;
}

.App.dark button {
  background-color: rgb(18, 200, 236);
  color: #333;
}

.App.light{
  background-color:#f6f6f6;
  height:100vh;
}
.themeContainer{
  display:flex;
  padding:13px 5px 13px 24px;
}

.header{
  margin-left:5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}